{#
Renders a media item for a organization. This should be used in a list.

organization - A organization dict.

Example:

    <ul class="media-grid">
      {% for organization in organizations %}
        {% snippet "organization/snippets/organization_item.html", organization=organization %}
      {% endfor %}
    </ul>
#}
{% set url = h.url_for(organization.type ~ '_read', action='read', id=organization.name) %}
{% block item %}
<li class="media-item" style="float: none; width: 100%; display: flex; align-items: center; margin-left: 0;">
  <div style="width: 210px; min-width: 210px; max-width: 210px; height: 125px; min-height: 125px; max-height: 125px;">
      <img src="{{ organization.image_display_url or h.url_for_static('/base/images/placeholder-organization.png') }}" alt="{{ organization.name }}" class="img-responsive media-image"
       style="margin: 0; width: 100%; height: 100%; object-fit: contain;">
  </div>

  <div style="height: 100%; width: 100%; display: flex; flex-direction: column; flex-wrap: wrap; padding-left: 15px;">
    <h3 class="media-heading">
      {% if h.lang() == 'en' %}
        {% if organization.display_title_en %}
          {{ organization.display_title_en }}
        {% else %}
          {{ organization.display_name }}
        {% endif %}
      {% elif h.lang() == 'nl' %}
        {% if organization.display_title_nl %}
          {{ organization.display_title_nl }}
        {% else %}
          {{ organization.display_name }}
        {% endif %}
      {% elif h.lang() == 'fr' %}
        {% if organization.display_title_fr %}
          {{ organization.display_title_fr }}
        {% else %}
          {{ organization.display_name }}
        {% endif %}
      {% elif h.lang() == 'de' %}
        {% if organization.display_title_de %}
          {{ organization.display_title_de }}
        {% else %}
          {{ organization.display_name }}
        {% endif %}
      {% endif %}
    </h3>
    {% block description %}
      {% if organization.description %}
        <p>{{ h.markdown_extract(organization.description, extract_length=200) }}</p>
      {% endif %}
    {% endblock %}
    {% block datasets %}
      {% if organization.package_count %}
        <strong class="count">{{ ungettext('{num} Dataset', '{num} Datasets', organization.package_count).format(num=organization.package_count) }}</strong>
      {% else %}
        <span class="count">{{ _('0 Datasets') }}</span>
      {% endif %}
    {% endblock %}
    {% block capacity %}
      {% if show_capacity and organization.capacity %}
      <p><span class="label label-default">{{ h.roles_translated().get(organization.capacity, organization.capacity) }}</span></p>
      {% endif %}
    {% endblock %}
    {% block link %}
    <a href="{{ url }}" title="{{ _('View {organization_name}').format(organization_name=organization.display_name) }}" class="media-view">
      <span>{{ _('View {organization_name}').format(organization_name=organization.display_name) }}</span>
    </a>
    {% endblock %}
  </div>
</li>
{% endblock %}