{% import 'macros/form.html' as form %}


{% call form.input(
field.field_name,
id='field-' + field.field_name,
label=h.scheming_language_text(field.label),
placeholder=h.scheming_language_text(field.form_placeholder),
value=data[field.field_name],
error=errors[field.field_name],
classes=field.classes if 'classes' in field else ['control-medium'],
attrs=dict({"class": "form-control", "style": "display:none; visibility:hidden;"}, **(field.get('form_attrs', {}))),
is_required=h.scheming_field_required(field)
)
%}
<div id="form_extent_map" style="height: 280px; "></div>
{%- snippet 'scheming/form_snippets/help_text.html', field=field -%}
{% endcall %}

<script language="JavaScript">
    var map = L.map('form_extent_map').setView([50.859933, 4.351969], 7);
     L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
         attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
     }).addTo(map);

     var drawnItems = new L.FeatureGroup();
     map.addLayer(drawnItems, {crs: L.CRS.EPSG4326});
     var drawControl = new L.Control.Draw({
        draw: {
             polygon: false,
             polyline: false,
             marker: false,
             circle: false,
             circlemarker: false
         },
         edit: {
             featureGroup: drawnItems
         }
     });
     map.addControl(drawControl);

     var input_field = document.getElementById('field-{{field.field_name}}');
     if(input_field.value){
        L.geoJSON(JSON.parse(input_field.value)).addTo(map);
     }

    map.on('draw:created',  function (e) {
       var type = e.layerType,layer = e.layer;

       drawnItems.addLayer(layer);

       var layerGeoJSON = layer.toGeoJSON()["geometry"]
       console.log(layerGeoJSON);
       console.log(JSON.stringify(layerGeoJSON, null));

       var input_field = document.getElementById('field-{{field.field_name}}');
       input_field.value = JSON.stringify(layerGeoJSON, null);
    });

    map.on('draw:deleted',  function (e) {
       var type = e.layerType,layer = e.layer;

       var input_field = document.getElementById('field-{{field.field_name}}');
       input_field.value = JSON.stringify(drawnItems.toGeoJSON(), null);;
    });


</script>

<br/><br/>











