{% import 'macros/form.html' as form %}
{% from 'macros/string_utils.html' import render_string_with_links %}
{% macro help_text(help_text_content) %}
    {%- if help_text_content -%}
        <div style="padding-left: 24px;">
        {%- snippet 'scheming/form_snippets/help_text.html', field={'help_text': help_text_content} -%}
        </div>  
    {%- endif -%}
{% endmacro %}

{%- call form.input_block(
    "field-{{ field.field_name }}",
    label=h.scheming_language_text(field.label),
    classes=['control-full'],
    error=errors[field.field_name],
    is_required=h.scheming_field_required(field),
    ) -%}

    {%- set choices = [] -%}
    {%- for c in h.scheming_field_choices(field) -%}
        {%- do choices.append(
        (c.value, h.scheming_language_text(c.label), h.scheming_language_text(c.help_text))) -%}
    {%- endfor -%}

    {%- if field.get('sorted_choices') -%}
        {%- set choices = choices|sort(case_sensitive=false, attribute=1) -%}
    {%- endif -%}

    {# general help is shown above the checkbox(es), if desired to show under,
       add the help_text under `choices` #}
    {{ help_text(field.help_text) }}
    <fieldset class="checkboxes">
    {%- for val, label, mhelp in choices -%}
        <label style="margin: 8px 0 0 8px;" for="field-{{ field.field_name }}-{{ val }}">
                <div style="display: flex; align-items: center;">
                    <input id="field-{{ field.field_name }}-{{ val }}"
                        type="checkbox"
                        name="{{ field.field_name }}"
                        value="{{ val }}"
                        style="width: auto; top: 0;"/>
                        <!-- {{"checked" if val in data[field.field_name] }}
                            /> -->
                    <div style="padding-left: 8px;">{{ render_string_with_links(label) }}</div>
                </div>
            </label> 
            {{ help_text(mhelp) }}
    {%- endfor -%}
    </fieldset>
{%- endcall -%}

