{% import 'macros/form.html' as form %}

<fieldset style="border: 1px solid #ccc; padding: 20px; margin-bottom: 40px;">
    <legend style="font-weight: bold; margin-bottom: -5px;">
        <label style="display: inline-block; width: 120px;">
            <span style="color: rgb(198,137,139);">*</span> {{ h.scheming_language_text(field.label) }}</label>
            {%- snippet 'scheming/form_snippets/help_text.html', field=field -%}
    </legend>
    {%- set schema_fields = c.scheming_fields if c.scheming_fields else h.scheming_get_dataset_schema('dataset').dataset_fields -%}
    {% for item in field.nested_fields %}
        {% set field = schema_fields | selectattr('field_name', 'equalto', item.field_name) | first %}
        <div style="margin-bottom: -20px;">
            {% call form.input(
                field.field_name,
                id='field-' + field.field_name,
                label=h.scheming_language_text(field.label),
                placeholder=h.scheming_language_text(field.form_placeholder),
                value=data[field.field_name],
                error=errors[field.field_name],
                classes=field.classes if 'classes' in field else ['control-medium'],
                attrs=dict({"class": "form-control"}, **(field.get('form_attrs', {}))),
                is_required=h.scheming_field_required(field)
                )
            %}
                {%- snippet 'scheming/form_snippets/help_text.html', field=field -%}
            {% endcall %}
        </div>
    {% endfor %}
</fieldset>
<script>
    const autocompleteOptions = {{ h.benap_organisation_names_for_autocomplete() | tojson }};
    const organizations = {{ h.benap_retrieve_org_title_tel_email() | tojson }};
    let valuesList = Object.values(autocompleteOptions);

    function getOrgEmailAndTelByName(orgs, title) {
            let org = orgs.find(org => org.title === title);
            return { email: org.do_email, tel: org.do_tel };
        }

    $('#field-contact_point_name').wrap('<div id="autocomplete-contact_point_name"></div>');
    $('#field-contact_point_name').attr('autocomplete', 'off');

    $(document).ready(function() {
        let originalValue = $('#field-contact_point_name').val();
        if (valuesList.includes(originalValue)) {
            let orgEmailAndTel = getOrgEmailAndTelByName(organizations, originalValue);
            $('#field-contact_point_email').prop('readonly', true);
            $('#field-contact_point_tel').prop('readonly', true);
        }
    });

    $('#field-contact_point_name').on('input', function(e) {
        if (e.which !== 40 || e.which !== 38 || e.which !== 13) {
            currentFocus = -1;
            let inputText = this.value;
            if (inputText !== "" ) {
                $('.autocomplete-contact_point_name-option').remove();
                let matches = autocompleteOptions.filter(x => { return  x.toLowerCase().indexOf(inputText.toLowerCase()) > -1; })
                let sorted = matches.sort(function(a,b) {
                    return b.toLowerCase().indexOf(inputText.toLowerCase()) < a.toLowerCase().indexOf(inputText.toLowerCase());
                });
                if (matches.length > 5) {
                    matches = matches.slice(0, 5);
                }
                matches.forEach((m, i) => {
                    $('#autocomplete-contact_point_name')
                        .append(
                            '<div class="autocomplete-contact_point_name-option border-1" ' +
                            'style="top: ' + (i+1)*34 + 'px;" ' +
                            'onclick="selectOption(&#39;' + m + '&#39;)">' + m + '</div>'
                         );
                });
            } else {
                $('.autocomplete-contact_point_name-option').remove();
            }
        }
    });

    function selectOption(selectedValue) {
        $('#field-contact_point_name').val(selectedValue);
        $('.autocomplete-contact_point_name-option').remove();

        if (valuesList.includes(selectedValue)) {
            let orgEmailAndTel = getOrgEmailAndTelByName(organizations, selectedValue);
            $('#field-contact_point_email').val(orgEmailAndTel.email).prop('readonly', true);
            $('#field-contact_point_tel').val(orgEmailAndTel.tel).prop('readonly', true);
        } else {
            $('#field-contact_point_email').val('').prop('readonly', false);
            $('#field-contact_point_tel').val('').prop('readonly', false);
        }
    }

    $('#field-contact_point_name').on("keydown", function(e) {
        let autocompleteOptions = $('.autocomplete-contact_point_name-option');
        if (e.which === 40) { // down
            currentFocus++;
            addActive(autocompleteOptions);
            e.preventDefault();
        } else if (e.which === 38) { // up
            currentFocus--;
            addActive(autocompleteOptions);
            e.preventDefault();
        } else if (e.which === 13) {
            e.preventDefault();
            if (currentFocus > -1) {
                if (autocompleteOptions) {
                    autocompleteOptions[currentFocus].click();
                }
            }
        }
    });

    function addActive(autocompleteOptions) {
        if (!autocompleteOptions) {
            return false;
        }
        removeActive(autocompleteOptions);
        if (currentFocus >= autocompleteOptions.length) {
            currentFocus = 0;
        }
        if (currentFocus < 0) {
            currentFocus = (autocompleteOptions.length - 1);
        }
        $(autocompleteOptions[currentFocus]).addClass("autocomplete-contact_point_name-option-active");
    }

    function removeActive(autocompleteOptions) {
        for (var i = 0; i < autocompleteOptions.length; i++) {
            autocompleteOptions[i].classList.remove("autocomplete-contact_point_name-option-active");
        }
    }

    // Add event listener to update the status of related fields when the first field changes
    $('#field-contact_point_name').on('change', function() {
        let selectedValue = $(this).val();

        if (valuesList.includes(selectedValue)) {
            let orgEmailAndTel = getOrgEmailAndTelByName(organizations, selectedValue);
            $('#field-contact_point_email').val(orgEmailAndTel.email).prop('readonly', true);
            $('#field-contact_point_tel').val(orgEmailAndTel.tel).prop('readonly', true);
        } else {
            $('#field-contact_point_email').val('').prop('readonly', false);
            $('#field-contact_point_tel').val('').prop('readonly', false);
        }
    });

    $(document).click(function() {
        $('.autocomplete-contact_point_name-option').remove();
    });
</script>


<style>
    #autocomplete-contact_point_name {
        position: relative;
    }

    .autocomplete-contact_point_name-option {
        position: absolute;
        left: 0px;
        z-index: 1;
        width: 100%;
        background: white;
        cursor: pointer;
        height: 34px;
        padding: 6px 12px;
    }

    .autocomplete-contact_point_name-option-active, .autocomplete-contact_point_name-option:hover {
        border-color: #66afe9;
        outline: 0;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,0.6);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,0.6);
    }
</style>