{% import 'macros/form.html' as form %}

<div data-module="nested-field-license" data-module-field-id="field-{{ field.field_name }}">

<fieldset id="rights-fieldset" style="border: 1px solid #ccc; padding: 20px; margin-bottom: 40px;">
    <legend style="font-weight: bold; margin-bottom: -5px;">
        <label style="display: inline-block; width: 120px;">
            <span style="color: rgb(198,137,139);">*</span> {{ h.scheming_language_text(field.label) }}</label>
            {%- snippet 'scheming/form_snippets/help_text.html', field=field -%}
    </legend>
    {%- set schema_fields = c.scheming_fields if c.scheming_fields else h.scheming_get_dataset_schema('dataset').resource_fields -%}
    {% for item in field.nested_fields %}
        {% set matched_field = schema_fields | selectattr('field_name', 'equalto', item.field_name) | first %}
        {% if matched_field %}
            <div style="margin-bottom: -20px;">
                {%- snippet 'scheming/form_snippets/' ~ item.form_snippet, field=matched_field, data=data, errors=errors -%}
            </div>
        {% endif %}
    {% endfor %}
</fieldset>

{% set field = schema_fields | selectattr('field_name', 'equalto', 'license') | first %}
<fieldset id="license-fieldset" style="border: 1px solid #ccc; padding: 20px; margin-bottom: 40px;">
    <legend style="font-weight: bold; margin-bottom: -5px;">
        <label style="display: inline-block; width: 120px;">
            <span id="star" style="color: rgb(198,137,139);">*</span> {{ h.scheming_language_text(field.label) }}</label>
            {%- snippet 'scheming/form_snippets/help_text.html', field=field -%}
    </legend>
    {% for item in field.nested_fields %}
        {% set matched_field = schema_fields | selectattr('field_name', 'equalto', item.field_name) | first %}
        {% if matched_field %}
            <div style="margin-bottom: -20px;">
                {%- snippet 'scheming/form_snippets/' ~ item.form_snippet, field=matched_field, data=data, errors=errors -%}
            </div>
        {% endif %}
    {% endfor %}
</fieldset>