{% set current_lang = request.environ.CKAN_LANG %}
<form class="form-inline form-select lang-select flex align-items-center" action="{% url_for controller='util', action='redirect' %}" data-module="select-switch" method="POST">
  <label for="field-lang-select" class="m-0">{{ _('Language') }}</label>
  <select id="field-lang-select" class="m-0" name="url" data-module-dropdown-class="lang-dropdown" data-module-container-class="lang-container">
    {% for locale in h.get_available_locales() %}
      <option value="{% url_for h.current_url(), locale=locale.short_name %}" {% if locale.identifier == current_lang %}selected="selected"{% endif %}>
        {{ locale.short_name or locale.english_name }}
      </option>
    {% endfor %}
  </select>
  <button class="btn btn-default js-hide" type="submit">{{ _('Go') }}</button>
</form>