{% set current_lang = request.environ.CKAN_LANG %}
<form class="form-inline lang-select" action="{% url_for 'util.internal_redirect' %}" data-module="select-switch" method="POST">
  {{ h.csrf_input() }} 
  <label for="field-lang-select" class="m-0">{{ _('Language') }}</label>
  <select id="field-lang-select" class="m-0" name="url">
    {% for locale in h.benap_get_available_locales_sorted() %}
      <option class="lang-option" value="{% url_for h.current_url(), locale=locale.short_name %}" {% if locale.identifier == current_lang %}selected="selected"{% endif %}>
          {{ locale.short_name | upper or locale.english_name }}
      </option>
    {% endfor %}
  </select>
  <button class="btn btn-default js-hide" hidden type="submit">{{ _('Go') }}</button>
</form>