.footer-img {
    width: 150px;
    height: auto;
}

.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-links li {
    font-family: Barlow Condensed;
    font-size: 16px;
    line-height: 24px;
    padding-left: 50px;
}

.footer-links li a {
    color: #1c71bf;
}

.site-footer {
    background: #efefef;
}

.mt-1px {
    margin-top: 1px;;
}

.pb-0 {
    padding-bottom: 0 !important;
}

.ml-50 {
    margin-left: 40%
}

.my-25px {
    margin-top: 25px;
    margin-bottom: 25px;
}

footer p, .site-footer a, .site-footer, .site-footer label, .site-footer small {
    color: #666666;
    font-weight: bold;
}

.align-items-center {
    align-items: center;
}

#field-lang-select {
    border: 1px solid black;
    width: 50px;
    border-radius: .25rem;
    background-color: #fff;
}

.w-33 {
    min-width: 33%;
}


.pt-0 {
    padding-top: 0 !important;
}

.pr-1 {
    padding-right: 4px !important;
}

.pb-5px {
    padding-bottom: 5px;
}
