.hero {
    background: url("/images/main-image.jpg") no-repeat fixed;
    width:100%;
    height:350px;
    margin:0;
    padding:0;
}

.large-title {
    background: #11406E;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    font-size: 24px;
    margin-top: 20px;
    font-weight: bold;
}

.flex {display:flex}

.align-items-center {align-items: center}
.searchbox {
    background: #0CA0C9;
    color: #fff;
    flex: 3;
    padding: 1rem 3rem;
    margin:0
}

.searchbox h2 {
    font-size: 26px;
    margin:5px 0 10px 0;
}

#pop-tags {
    font-size: 16px;
    display: inline;
}

.add-databox {
    background:#fff;
    color:#11406E;
    flex:1;
    padding:1rem 2rem 3rem 2rem;
    margin:0
}

.add-databox h3 {
    font-size: 22px;
    margin: 10px 0 10px 0;
}

.add-databox p {
    font-size:14px
}

.register-flex {
    display: flex;
    align-items: flex-start;
}

.register-flex p {
    width: 55%;
    font-size: 18px;
}

button {
    background:#11406E;
    border:0;
    color:#fff;
    text-transform:uppercase;
    padding:5px 15px
}

.bt-large {
    padding:12px 15px;
    font-size: 16px;
    margin: 0 0 0 10px;
    height: 45px;
    font-weight: bold;
}

.tags {
    margin: 15px 0;
}

.btn-light {
    margin: 0 2px;
    background-color: #efefef;
    color: #333333;
    font-size: 16px
}

#field-main-search {
    height: 45px;
    width: 95%;
    border: 0;
    padding: 5px 10px;
    font-size: 18px;
}

.form-control {
    border-radius: 0;
    box-shadow: none;
    -webkit-box-shadow: none;
}

#field-main-search::placeholder {
    color: #333333;
}

#content-box {
    background: white;
}

.special-col {
    padding: 25px 15px;
    height: 100%;
}

.highlight-box {
    background-color: #e0f3ff;
    min-height: 399px;
}

.highlight-box img {
    width: 100%;
}

#highlight-box-text {
    padding: 16px 24px;
}

#highlight-box-text h3 {
    font-size: 2rem;
    margin: 0;
    color: #333333;
}

#highlight-box-text h4 {
    font-size: 2rem;
    margin: 0 0 10px 0;
    color: #919191;
}

.highlight-box-header {
    min-height: 70px;
}

#highlight-box-text p {
    font-size: 1.8rem;
    color: #333333;
}

.button-width {
    min-width: 82px;
}

.flex-center {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.flex-center img {
    padding: 15px 20px 15px 0;
}

.m-0 {
    margin: 0;
}

.mt-5px {
    margin-top: 5px;
}

.p-0 {
    padding: 0;
}

.pl-5 {
    padding-left: 5px;
}

.border-grey {
    border: 1px solid #dddddd;
    padding: 20px;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.input-email {
    border-radius: 0;
    border: 1px solid #dddddd;
    height: 34px;
    width: calc( 100% - 132px );
}

.input-email::placeholder {
    color: #666666;
}

.button-height-34px {
    height: 34px;
    padding: 0 15px;
    box-sizing: content-box;
}

#newsletter {
    margin-bottom: 20px;
}

.my-10px {
    margin-top: 10px;
    margin-bottom: 10px;
}