{% ckan_extends %}

{% block extras %}
 <tr>
      <th scope="row" class="dataset-label">data</th>
      <td class="dataset-details">{{ geographic_granularity_map }}</td>
    </tr>
  {% if pkg_dict.custom_text %}
    <tr>
      <th scope="row" class="dataset-label">{{ _("Custom Text") }}</th>
      <td class="dataset-details">{{ pkg_dict.custom_text }}</td>
    </tr>
  {% endif %}
  {% if pkg_dict.dataset_location %}
    <tr>
      <th scope="row" class="dataset-label">{{ _("Location") }}</th>
      <td class="dataset-details">{{ pkg_dict.dataset_location }}</td>
    </tr>
  {% endif %}
  {% if pkg_dict.geographic_granularity %}
    <tr>
      <th scope="row" class="dataset-label">{{ _("Geographic granularity") }}</th>
      <td class="dataset-details">{{ pkg_dict.geographic_granularity }}</td>
    </tr>
  {% endif %}

{% endblock %}