{# This is needed because otherwise the explore button displays 2 carets #}
{% ckan_extends %}

{% block resource_item_explore %}
{% if not url_is_edit %}
<div class="dropdown btn-group">
  <a href="#" class="btn btn-primary dropdown-toggle" type="button" id="dropdownExplorer" data-bs-toggle="dropdown" aria-expanded="false">
    <i class="fa fa-share"></i>
    {{ _('Explore') }}
  </a>
  <ul class="dropdown-menu" aria-labelledby="dropdownExplorer">
    {% block resource_item_explore_links %}
      {% block explore_view %}
        <li>
          <a class="dropdown-item" href="{{ url }}">
            {% if res.has_views %}
              <i class="fa fa-chart-bar"></i>
              {{ _('Preview') }}
            {% else %}
              <i class="fa fa-info-circle"></i>
              {{ _('More information') }}
            {% endif %}
          </a>
        </li>
      {% endblock explore_view %}

      {% if res.url and h.is_url(res.url) %}
    <li>
      <a class="dropdown-item resource-url-analytics" href="{{ res.url }}" target="_blank" rel="noreferrer">
        {% if res.has_views or res.url_type == 'upload' %}
          <i class="fa fa-arrow-circle-down"></i>
          {{ _('Download') }}
        {% else %}
          <i class="fa fa-external-link"></i>
          {{ _('Go to resource') }}
        {% endif %}
      </a>
    </li>
    {% endif %}
    {% if can_edit %}
      <li>{% link_for _('Edit resource'), named_route=pkg.type ~ '_resource.edit', id=pkg.name, resource_id=res.id, class_='dropdown-item', icon='pencil' %}</li>
      {% block resource_item_explore_inner scoped %}{% endblock %}
      <li>{% link_for _('Views'), named_route=pkg.type ~ '_resource.views', id=pkg.name, resource_id=res.id, class_='dropdown-item', icon='chart-bar' %}</li>
    {% endif %}
    {% endblock %}
  </ul>
</div>
{% endif %}
{% endblock %}