<section class="module module-narrow module-shallow">
  <h2 class="module-heading"><i class="fa fa-info-circle"></i> {{ _('What\'s a resource?') }}</h2>
  <div class="module-content">
    <p>{{ _('A resource is preferrably a link to your transport dataset or transport data service. However, if access
        require authentification or signature of a license agreement, you may just add a link to your website/data portal.
        If your data is not hosted on an existing website, in that case you may upload it on transportdata.be') }}</p>
    <p>{{ _('Adding a link (or uploading a file) is compulsory as per Commission Delegated Regulation (EU) 2017/1926.') }}</p>
  </div>
</section>