{# Extend only needed because double caret issue on CKAN 2.11, might be removed in a later version #}
{# https://github.com/ckan/ckan/blob/2.11/ckan/templates/package/resource_views.html#L12 #}
{% ckan_extends %}

{% block page_primary_action %}
  {% if h.check_access('resource_view_create', {'resource_id': resource.id}) %}
    <div class="dropdown btn-group">
      <a class="btn btn-primary dropdown-toggle" role="button" id="dropdownView" data-bs-toggle="dropdown" aria-expanded="false" href="#">
        <i class="fa fa-plus-square"></i>
        {{ _('New view') }}
      </a>
      <ul class="dropdown-menu" aria-labelledby="dropdownView">
        {% for option in h.get_allowed_view_types(resource, pkg_dict)  %}
          {% set url = h.url_for(pkg_dict.type ~ '_resource.edit_view', id=pkg_dict.name, resource_id=resource.id, view_type=option[0]) %}
          <li><a href="{{ url }}" class="dropdown-item"><i class="fa fa-{{ option[2] }}"></i> {{ option[1] }}</a></li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
  {% asset 'vendor/reorder' %}
{% endblock %}