{% ckan_extends %}

{% block secondary_content %}
<div class="filters">
  <h2 class="module-heading">{{ _('Filters') }}</h2>
  <div>
    {% for facet in c.facet_titles %}
    <!--script>console.log('koekoek: {{c.facet}}');</script-->
      {{ h.snippet('snippets/facet_list.html', title=h.translate_organization_filter(c.facet_titles[facet], h.lang()), name=facet) }}
    {% endfor %}
    {# {{ h.snippet('snippets/facet_list.html', title='regions_covered', name='regions_covered') }} #}
  </div>
  <a class="close no-text hide-filters"><i class="fa fa-times-circle"></i><span class="text">close</span></a>
</div>
{% endblock %}