{# Adapted from https://github.com/belgium-its-steering-committee/ckanext-benap/blob/CKAN-2.11-upgrade/ckanext/benap/templates/home/layout3.html #}
{% ckan_extends %}

{% block primary_content %}
<div role="main">
    <div class="main hero" >
      <div class="container">
        {% block search %}
        {% snippet 'home/snippets/search.html', search_facets=search_facets %}
        {% endblock %}
      </div>
    </div>
</div>
<div id="content-box" role="main" class="mb-5 mt-4">
  <div id="homepage-grid-container" class="container">
    <div class="flex flex-col gap-4 justify-content-between">
      <div>
        {% block feedback %}
        {% snippet 'home/snippets/feedback.html' %}
        {% endblock %}
      </div>
      <div>
        {% block report %}
        {% snippet 'home/snippets/report.html' %}
        {% endblock %}
      </div>
      <div class="flex align-items-center border-grey gap-4">
        <i class="fa fa-newspaper fa-3x" aria-hidden="true"></i>
        <div class="flex flex-col w-100">
          <div class="flex-col justify-content-center">
            <p class="m-0 fs-20" style="word-break: break-word;">
              {{ _('Subscribe to our newsletter and stay informed') }}
            </p>
          </div>
          <form id="subscribe-mailinglist-form" class="dataset-form mt-5px flex" style="width: 100%;" method="post"
            action="{{h.url_for('mailchimp.subscribe')}}">
            {{ h.csrf_input() }} 
            <input id="contact-email" name="email" class="input-email pl-5 flex-grow-1"
              placeholder="{{ _('Enter your email address') }}" type="text" autocomplete="off">
            <button class="bt-large button-width button-height-34px" name="save" type="submit">{{ _('Subscribe')
              }}</button>
          </form>
        </div>
      </div>
    </div>

    <div class="h-100 w-100 flex align-items-center justify-content-center highlight-box">
      <div data-module="youtube-consent-button"
        class="youtube-with-consent-button"
        data-module-youtube-src="{{ _('https://www.youtube-nocookie.com/embed/0-M48xzlWzI?rel=0&enablejsapi=1') }}"
      >
        <img src="{{ h.url_for('/images/youtube-thumbnail.png') }}"
              alt="{{ _('Introduction to transportdata.be') }}"
              class="youtube-thumbnail"
        />
        <div class="consent-prompt">
          {{ _('Click to accept YouTube cookies and watch the video') }}
        </div>
      </div>
      <div youtube-consent-button-iframe class="video-wrapper hide-control">
        <iframe
          sandbox="allow-scripts allow-same-origin allow-presentation"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen
          loading="lazy"
        ></iframe>
      </div>
    </div>

    <div>
      {% block promoted %}
      {% snippet 'home/snippets/promoted.html' %}
      {% endblock %}
    </div>
    <div>
      {% block community %}
      {% snippet 'home/snippets/community.html' %}
      {% endblock %}
    </div>
  </div>
</div>
{% endblock %}