{% ckan_extends %}

{% block primary_content %}
<div role="main">
  <div class="main hero">
    <div role="main" class="hero">
      <div class="container">
        {% block search %}
        {% snippet 'home/snippets/search.html', search_facets=search_facets %}
        {% endblock %}
      </div>
    </div>
  </div>
</div>
<div id="content-box" role="main" class="mb-5">
  <div id="homepage-grid-container" class="container">
      <div>
        <div class="flex flex-col gap-4">
          <div>
            {% block feedback %}
            {% snippet 'home/snippets/feedback.html' %}
            {% endblock %}
          </div>
          <div>
            {% block report %}
            {% snippet 'home/snippets/report.html' %}
            {% endblock %}
          </div>
          <div>
            <div class="flex align-items-center border-grey gap-4">
              <i class="fa fa-newspaper-o fa-3x" aria-hidden="true"></i>
              <div class="flex" style="flex-direction: column">
                <div class="flex-col" style="justify-content: center;">
                  <p class="m-0 fs-20" style="word-break: break-word;">
                    {{ _('Subscribe to our newsletter and stay informed') }}
                  </p>
                </div>
                <form id="subscribe-mailinglist-form" class="dataset-form mt-5px" style="width: 100%;" method="post"
                  action="/{{h.lang()}}/newsletter/subscribe">
                  <input id="contact-email" name="email" class="input-email pl-5"
                    placeholder="{{ _('Enter your email address') }}" type="text" autocomplete="off">
                  <button class="bt-large button-width button-height-34px" name="save" type="submit">{{ _('Subscribe')
                    }}</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="video-wrapper flex align-items-center">
        <iframe 
          src="{{ h.getTranslatedVideoUrl(h.lang()) }}"
          allowfullscreen
        >
        </iframe>
      </div>

      <div>
        {% block promoted %}
        {% snippet 'home/snippets/promoted.html' %}
        {% endblock %}
      </div>
      <div>
        {% block community %}
        {% snippet 'home/snippets/community.html' %}
        {% endblock %}
      </div>
  </div>
</div>
{% endblock %}