<div role="main" class="hero">
  <div>&nbsp;</div>
  <div class="container">
    {% block search %}
      {% snippet 'home/snippets/search.html' %}
    {% endblock %}
  </div>
</div>
<div id="content-box" role="main">
  <div class="container">

    <div class="row">
      <div class="col col-md-6 col2">
        <div class="row special-row">
          <div class="special-col col col-12" style="padding-bottom: 0; padding-top: 0;">
            {% block feedback %}
              {% snippet 'home/snippets/feedback.html' %}
            {% endblock %}
          </div>
          <div class="special-col col col-12" style="padding-bottom: 0;">
            {% block report %}
              {% snippet 'home/snippets/report.html' %}
            {% endblock %}
          </div>
          <div class="special-col col col-12" style="padding-bottom: 0;">
            {% block newsletter %}
              {% snippet 'home/snippets/newsletter.html' %}
            {% endblock %}
          </div>
        </div>
      </div>

      <style>
        .video-row-col {
            padding-top: 50px;
            height: 420px;
         }

        @media only screen and (min-width: 982px) {
          .video-row-col {
            position: absolute;
            left: 50%;
            padding-bottom: 0;
            padding-top: 0;
            height: 100%;
            min-height: 100%;
          }
        }
      </style>

      <div class="special-col col col-md-6 col2 video-row-col" style="">
           <iframe style="min-width: 100%; min-height: 100%;"
            src="{{ h.getTranslatedVideoUrl(h.lang()) }}">
           </iframe>
      </div>
    </div>

    <div class="row special-row">
      <div class="special-col col col-md-6 col2">
        {% block promoted %}
          {% snippet 'home/snippets/promoted.html' %}
        {% endblock %}
      </div>
      <div class="special-col col col-md-6 col2">
        {% block community %}
          {% snippet 'home/snippets/community.html' %}
        {% endblock %}
      </div>
    </div>

    {#
    <div class="row my-10px">
      <div class="col col-md-4">
        {% block report %}
          {% snippet 'home/snippets/report.html' %}
        {% endblock %}
      </div>
      <div class="col col-md-4">
        {% block newsletter %}
          {% snippet 'home/snippets/newsletter.html' %}
        {% endblock %}
      </div>
      <div class="col col-md-4">
        {% block feedback %}
          {% snippet 'home/snippets/feedback.html' %}
        {% endblock %}
      </div>
    </div>
    #}
  </div>
</div>