<div role="main" class="hero">
  <div class="container">
    {% block search %}
      {% snippet 'home/snippets/search.html' %}
    {% endblock %}
  </div>
</div>
<div id="content-box" role="main" style="padding-top: 25px;">
  <div class="container">

    <div class="row">
      <div class="col col-md-6 col2">
        <div class="row special-row">
          <div class="special-col col col-12" style="padding-bottom: 0; padding-top: 0;">
            {% block feedback %}
              {% snippet 'home/snippets/feedback.html' %}
            {% endblock %}
          </div>
          <div class="special-col col col-12" style="padding-bottom: 0;">
            {% block report %}
              {% snippet 'home/snippets/report.html' %}
            {% endblock %}
          </div>
          <div class="special-col col col-12" style="padding-bottom: 0;">
              <div class="flex-center border-grey" style="justify-content: start !important; align-items: center;">
                <!--img src="/images/newsletter.jpg" style="padding: 0 15px 0 0; min-width: 67px; max-width: 67px; max-height: 53px;"/-->
                <i class="fa fa-newspaper-o fa-3x" style="padding-right: 16px;" aria-hidden="true"></i>
                <div class="flex" style="flex-direction: column; width: calc(100% - 64px);">
                  <div class="flex-col" style="justify-content: center;">
                    <p class="m-0 fs-20" style="word-break: break-word;">
                      {{ _('Subscribe to our newsletter and stay informed') }}
                    </p>
                  </div>
                  <form id="subscribe-mailinglist-form" class="dataset-form mt-5px" style="width: 100%;" method="post" action="/{{h.lang()}}/newsletter/subscribe">
                    <input id="contact-email" name="email" class="input-email pl-5" placeholder="{{ _('Enter your email address') }}" type="text" autocomplete="off">
                    <button class="bt-large button-width button-height-34px" name="save" type="submit">{{ _('Subscribe') }}</button>
                  </form>
                </div>
              </div>
          </div>
        </div>
      </div>

      <style>
        .video-row-col {
            padding-top: 50px;
            height: 420px;
         }


        @media only screen and (min-width: 992px) {
          .video-row-col {
            position: absolute;
            left: 50%;
            padding-bottom: 0;
            padding-top: 0;
            height: 100%;
            min-height: 100%;
          }
        }
      </style>

      <div class="special-col col col-md-6 col2 video-row-col" style="">
           <iframe style="min-width: 100%; min-height: 100%;"
            src="{{ h.getTranslatedVideoUrl(h.lang()) }}">
           </iframe>
      </div>
    </div>

    <div class="row" style="display: flex; flex-wrap: wrap;">
      <div class="col col-md-6 col2" style="flex-grow: 1; padding: 25px 15px;">
        {% block promoted %}
          {% snippet 'home/snippets/promoted.html' %}
        {% endblock %}
      </div>
      <div class="col col-md-6 col2" style="flex-grow: 1; padding: 25px 15px;">
        {% block community %}
          {% snippet 'home/snippets/community.html' %}
        {% endblock %}
      </div>
    </div>

    {#
    <div class="row my-10px">
      <div class="col col-md-4">
        {% block report %}
          {% snippet 'home/snippets/report.html' %}
        {% endblock %}
      </div>
      <div class="col col-md-4">
        {% block newsletter %}
          {% snippet 'home/snippets/newsletter.html' %}
        {% endblock %}
      </div>
      <div class="col col-md-4">
        {% block feedback %}
          {% snippet 'home/snippets/feedback.html' %}
        {% endblock %}
      </div>
    </div>
    #}
  </div>
</div>