<a href="{{h.url_for('pages.show', page='information-to-data-users')}}" class="no-dec">
    <div class="highlight-box highlight-left" style="height: 100%;">
        <img src="/images/Ring.jpg" class="scalable-ring">
        <div id="highlight-box-text">
            <div class="highlight-box-header" style="min-height: 48px;">
                <h3 class="uppercase">
                    {{ _('JOIN OUR COMMUNITY FORUM') }}
                </h3>
            </div>
            <div class="community-flex">
                <ul style="list-style-type: square;">
                    <li style="color: #000;">
                        <p class="lh-1-2 mb-2">
                            {{ _('As transport data producer or user, join our online community and benefit from experience-sharing with your fellows!') }}
                        </p>
                    </li>
                    <li style="color: #000;">
                        <p class="lh-1-2 mb-2"">
                            {{ _('Discover the Belgian transport landscape.') }}
                        </p>
                    </li>
                    <li style="color: #000;">
                        <p class="lh-1-2 mb-2">
                            {{ _('Obtain practical information on how to (re)use datasets and services from the NAP ITS.') }}
                        </p>
                    </li>
                </ul>
                <!--button class="bt-large button-width" onclick="location.href='/{{ h.lang() }}/forum'">
                    {{ _('Join') }}
                </button-->
            </div>
        </div>
    </div>
</a>