<div class="highlight-box highlight-left">
    <img src="/images/img-community.jpg">
    <div id="highlight-box-text">
        <div class="highlight-box-header">
            <h3>
                {{ _('JOIN OUR COMMUNITY FORUM') }}
            </h3>
        </div>
        <div class="flex">
            <p>
                {{ _('Transportdata.be is the preferred access point for information on Intelligent Transport Systems (ITS).
                This national platform aims to centralize access to ITS datasets and web services.') }}

            </p>
            <button class="bt-large button-width" onclick="window.open('https://community.digital.gov.au/c/open-data');">
                {{ _('Join') }}
            </button>
        </div>
    </div>
</div>