<a href="https://community.digital.gov.au/c/open-data" target="_blank" class="no-dec">
    <div class="highlight-box highlight-left">
        <img src="/images/img-community.jpg">
        <div id="highlight-box-text">
            <div class="highlight-box-header">
                <h3 class="uppercase">
                    {{ _('JOIN OUR COMMUNITY FORUM') }}
                </h3>
            </div>
            <div class="community-flex">
                <p class="lh-1-2 mw-75">
                    {{ _('As transport data producer or user, join our online community and benefit from experience-sharing with your fellows!') }}
                </p>
                <button class="bt-large button-width"
                        onclick="window.open('{{ h.benap_forum_url() }}');">
                    {{ _('Join') }}
                </button>
                link: {{ h.benap_forum_url() }}
            </div>
        </div>
    </div>
</a>