{% set url = h.full_current_url() %}
<div class="container bg-warning">
    <div class="row justify-content-center border-grey">
        <div class="col-md-auto">
            <h1 class="uppercase" style="word-break: break-word;">
                {{ _('ATTENTION: DUE TO MAINTENANCE IT IS NOT POSSIBLE TO REGISTER NEW DATASETS BETWEEN MONDAY 16/12 AND FRIDAY 20/12.') }}
            </h1>
            <p class="fs-20 font-italic" style="word-break: break-word;">
                {{ _('Transportdata.be remains available for queries and searches. In case of questions, please contact the') }}
                <a href="mailto:contact@transportdata.be">NAP Helpdesk</a>.
            </p>
        </div>
    </div>
</div>
