<!--NOT USED BECAUSE OF BUG ON DEV -> DIRECTLY IN LAYOUT-->
<div class="flex-center border-grey" style="justify-content: start !important;">
    <div class="flex">
        <img src="/images/RetinaIcon.svg" style="padding: 0 15px 0 0; min-width: 67px; max-width: 67px;"/>
        <div class="flex-col" style="justify-content: center;">
            <p class="m-0 fs-20" style="word-break: break-word;">
                {{ _('Subscribe to our newsletter and stay informed') }}
            </p>
        </div>
    </div>
    <form id="subscribe-mailinglist-form" class="dataset-form" method="post" action="/{{h.lang()}}/newsletter/subscribe">
        <div class="mt-5px" style="width: 100%;">
            <input class="input-email pl-5" placeholder="{{ _('Enter your email address') }}" type="text" autocomplete="off">
            <button class="bt-large button-width button-height-34px" name="save" type="submit">{{ _('Subscribe') }}</button>
        </div>
    </form>
</div>
