<div class="flex-center border-grey" style="justify-content: start !important;">
    <div class="flex">
        <img src="/images/RetinaIcon.svg" style="padding: 0 15px 0 0; min-width: 67px; max-width: 67px;"/>
        <div class="flex-col" style="justify-content: center;">
            <p class="m-0 fs-20" style="word-break: break-word;">
                {{ _('Subscribe to our newsletter and stay informed') }}
            </p>
        </div>
    </div>
    <div class="mt-5px" style="width: 100%; padding-left: 67px;">
        <input class="input-email pl-5" placeholder="{{ _('Enter your email address') }}" type="text" autocomplete="off">
        <button class="bt-large button-width button-height-34px">{{ _('Subscribe') }}</button>
    </div>
</div>
