<div id="newsletter" class="flex-col">
    <div class="flex">
        <img src="/images/RetinaIcon.svg" style="padding: 10px 15px 10px 10px;"/>
        <div class="flex-col" style="padding: 10px 10px 10px 2px; justify-content: center;">
            <h3 class="m-0 custom-font fs-20 lh-1 uppercase">{{ _('SUBSCRIBE') }}</h3>
            <h3 class="m-0 custom-font fs-20 lh-1 uppercase">{{ _('TO NEWSLETTER') }}</h3>
        </div>
    </div>
    <div class="mt-5px">
        <input class="input-email pl-5" placeholder="{{ _('Enter your email address') }}" type="text" autocomplete="off">
        <button class="bt-large button-width button-height-34px">{{ _('Subscribe') }}</button>
    </div>
</div>