<div class="highlight-box highlight-left">
    <img src="/images/map-belgiumv2.jpg">
    <div id="highlight-box-text">
        <div class="highlight-box-header">
            <a href="{{ h.url_for(controller='ckanext.pages.controller:PagesController', action='pages_show', page='/about') }}">
                <h3>{{ _('DISCOVER TRANSPORTDATA.BE') }}</h3>
                <h4>{{ _('WHAT THE PURPOSE IS AND HOW YOU ARE INVOLVED') }}</h4>
            </a>
        </div>
        <p>
            {{ _('Transportdata.be is the preferred access point for information on Intelligent Transport Systems (ITS).
            This national platform aims to centralize access to ITS datasets and web services.') }}
        </p>
    </div>
</div>