<a class="no-dec"
   href="{{ h.url_for('pages_show', page='information-for-dataproviders') }}">
    <div class="highlight-box highlight-left" style="height: 100%;">
        <img id="nap-its" src="/images/nap-its.jpg">
        <div id="highlight-box-text">
            <div class="highlight-box-header" style="min-height: 48px;">
                <h3 class="uppercase">{{ _('DISCOVER TRANSPORTDATA.BE') }}</h3>
                <!--h4 class="uppercase">{{ _('AND HOW YOU ARE INVOLVED') }}</h4-->
            </div>
            <div>
                <p class="lh-1-2">
                    {{ _('Transportdata.be is the preferred access point for information on Intelligent Transport Systems (ITS). This national platform aims to centralize access to ITS datasets and web services.') }}
                </p>
                <ul style="list-style-type: square;">
                    <li class="lh-1-2" style="color: #333;"><p style="margin: 0;">{{ _('MMTIS') }}</p></li>
                    <li class="lh-1-2" style="color: #333;"><p style="margin: 0;">{{ _('RRTI') }}</p></li>
                    <li class="lh-1-2" style="color: #333;"><p style="margin: 0;">{{ _('SRTI') }}</p></li>
                    <li class="lh-1-2" style="color: #333;"><p style="margin: 0;">{{ _('SSTP') }}</p></li>
                </ul>
                <p class="lh-1-2">
                    {{ _('Obtain practical information on how to register your organization, datasets and services.') }}
                </p>
            </div>
            <!--ul>
                <li style="color: #000;">
                    <p class="lh-1-2">
                         {{ _('Transportdata.be is the preferred access point for information on Intelligent Transport Systems (ITS). This national platform aims to centralize access to ITS datasets and web services.') }}
                    </p>
                </li>
                <li style="color: #000;">
                    <p class="lh-1-2">
                        {{ _('Obtain practical information on how to register your organization, datasets and services.') }}
                    </p>
                </li>
            </ul-->
        </div>
    </div>
</a>