<a class="no-dec"
   href="{{ h.url_for(controller='ckanext.pages.controller:PagesController', action='pages_show', page='/about') }}">
    <div class="highlight-box highlight-left">
        <img src="/images/map-belgiumv2.jpg">
        <div id="highlight-box-text">
            <div class="highlight-box-header">

                <h3 class="uppercase">{{ _('DISCOVER TRANSPORTDATA.BE') }}</h3>
                <h4 class="uppercase">{{ _('WHAT THE PURPOSE IS AND HOW YOU ARE INVOLVED') }}</h4>

            </div>
            <p class="lh-1-2">
                {{ _('Transportdata.be is the preferred access point for information on Intelligent Transport Systems
                (ITS).
                This national platform aims to centralize access to ITS datasets and web services.') }}
            </p>
        </div>
    </div>
</a>