<div class="flex align-items-center border-grey gap-4">
    <i class="fa fa-book fa-3x" aria-hidden="true"></i>
    <div>
        <p class="m-0 fs-20">
            {{ _('More detailed instructions on how to register your dataset(s) and or services can be found in the ') }}
            <a href="/{{h.lang()}}/pages/about">{{ _('about section') }}</a>
            {{ _(' and in our ') }}
            <a href="https://youtu.be/xbmt9XcywvA" target="_blank">{{ _('instruction video') }}</a>
        </p>
    </div>
</div>