<div class="flex-center flex-start-982px border-grey">
    <img src="/images/RetinaIcon1.svg"/>
    <div style="max-width: calc(100% - 68px);">
        <p class="m-0 fs-20">
            {{ _('More detailed instructions on how to register your dataset(s) and or services can be found in the ') }}
            <a href="mailto:contact@transportdata.be">{{ _('about section') }}</a>
            {{ _(' and in our ') }}
            <a href="mailto:contact@transportdata.be">{{ _('instruction video') }}</a>
        </p>
    </div>
</div>

{#
<a href="mailto:contact@transportdata.be" class="flex-center flex-start-982px border-grey" style="color: #333; min-height: 119px;">
    <img src="/images/PixleIcon.svg"/>
    <div>
        <h3 class="m-0 custom-font fs-20 lh-1 uppercase">{{ _("LINK DOESN' T WORK?") }}</h3>
        <h3 class="m-0 custom-font fs-20 lh-1 uppercase">{{ _('REPORT IT HERE') }}</h3>
    </div>
</a>
#}