{% ckan_extends %}

{% block meta %}
    {% set gtag_id = h.benap_get_config('ckan.google.tag_id') %}
    {% if gtag_id %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ gtag_id }}"></script>
    {% endif %}

    {{ super() }}
    <!--  META TAGS FOR SHARING  -->
    <meta property="og:url" content="{{ h.get_site_protocol_and_host()[0] }}://{{ h.get_site_protocol_and_host()[1] }}" />
    <meta property="og:type" content="article" />
    <meta property="og:title"  content="transportdata.be" />
    <meta property="og:description" content="{{ _('Belgium&#39;s national access point for multimodal travel information services.') }}" />
    <meta property="og:image" content="{{ h.get_site_protocol_and_host()[0] }}://{{ h.get_site_protocol_and_host()[1] }}/images/map-belgiumv2.jpg" />
    <meta name="twitter:card" content="summary_large_image" />

    <!--  DISPLAY ON GOOGLE -->
    <meta name="description" content="Belgium's National Access Point for multimodal travel information services" />
{% endblock %}

{% block styles %}
  {{ super() }}
  {% asset 'benap/transportdata-css'%}

    <link href="https://fonts.googleapis.com/css?family=Barlow+Condensed&display=swap" rel="stylesheet">
    {% asset 'benap/benap-css' %}
{% endblock %}

{% block scripts %}
  {{ super() }}
  {% asset 'benap/transportdata-js'%}
{% endblock %}

{% block links %}
    <link rel="shortcut icon" type="image/png" href="/images/favicon.ico" />
{% endblock %}