{% ckan_extends %}


{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
   integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
   crossorigin=""/>
    <link rel="stylesheet" href="https://unpkg.com/leaflet.pm@2.2.0/dist/leaflet.pm.css"
          integrity="sha256-St+DX1J1xXvF1njTqCNU/Qi6c09WnWsVyg9MYQ/+pfo="
   crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
   integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
   crossorigin=""></script>
    <script src="https://unpkg.com/leaflet.pm@2.2.0/dist/leaflet.pm.min.js"
   integrity="sha256-PVcX3RpEY+mXe2xyhqrzNdjpQdlcZqdlbJP2+9x/OQg="
   crossorigin=""></script>

    <link href="https://fonts.googleapis.com/css?family=Barlow+Condensed&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/home.css" />
    <link rel="stylesheet" href="/css/footer.css" />
    <link rel="stylesheet" href="/css/other.css" />
    <link rel="stylesheet" href="/css/icons.css" />
    <script
			  src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
			  integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8="
			  crossorigin="anonymous"></script>
{% endblock %}

{% block links %}
    <!-- TODO replace href with correct url -->
    <link rel="shortcut icon" type="image/png" href="http://its.be/sites/all/themes/its/images/logo.jpg" />
{% endblock %}

{% block meta %}
    {{ super() }}
    <!-- should work for facebook, twitter and linkedin -->
    <meta property="og:url" content="http://ec2-63-33-90-161.eu-west-1.compute.amazonaws.com" />
    <meta property="og:type" content="article" />
    <meta property="og:title"  content="transportdata.be" />
    <meta property="og:description" content="Belgium's national access point for multiational travel information services." />
    <meta property="og:image" content="{{ h.get_site_protocol_and_host()[0] }}{{ h.get_site_protocol_and_host()[1] }}/images/logo-its.png" />
    <meta name="twitter:card" content="summary_large_image" />
{% endblock %}