<footer class="site-footer">
  <div class="container">
    {% block footer_content %}
    <div class="footer-grid flex">
      <div id="links" class="flex-col w-33 footer-links">
        {% block footer_nav %}
          <ul class="footer-link list-unstyled">
            {% block footer_links %}
              <li><a href="{{ h.url_for(controller='ckanext.pages.controller:PagesController', action='pages_show', page='/about') }}">{{ _('About Transportdata.be') }}</a></li>
            {% endblock %}
          </ul>
          <ul class="footer-link list-unstyled">
            {% block footer_links_ckan %}
              <li><a href="https://github.com/belgium-its-steering-committee" target="_blank">{{ _('Github') }}</a></li>
              {% set api_url = 'http://docs.ckan.org/en/{0}/api/'.format(g.ckan_doc_version) %}
              <li><a href="{{ api_url }}">{{ _('CKAN API') }}</a></li>
            {% endblock %}
          </ul>
        {% endblock %}
      </div>
        <div id="images" class="flex-between w-33">
            {% if h.lang() == 'fr' %}
            <a href="https://mobilit.belgium.be/fr/mobilite/systemes_de_transports_intelligents/comite_de_pilotage_its" target="_blank">
              {% else %}
              <a href="https://mobilit.belgium.be/nl/mobiliteit/intelligente_vervoersystemen/its_stuurgroep" target="_blank">
            {% endif %}
            <img class="footer-img" src="{{ h.url_for_static('/images/logo-its.png') }}" alt="logo its">
          </a>
          <a href="http://www.ngi.be/" target="_blank">
            <img class="footer-img" src="{{ h.url_for_static('/images/LOGO_NGI_BASIS_RGB.jpg') }}" alt="logo ngi">
          </a>
        </div>
      <div id="lang" class="flex-col attribution w-33">
        <div class="ml-50 ml-0-media-max-982px">
          {% block footer_attribution %}
            <p>{% trans %}Powered by <a href="http://ckan.org">CKAN</a>{% endtrans %}</p>
          {% endblock %}
          {% block footer_lang %}
            {% snippet "snippets/language_selector.html" %}
          {% endblock %}
          <p><a id="delete-cookies" href="#">{{ _('Delete Cookies') }}</a></p>
          <script>
            function setCookie(name,value,days) {
              var expires = "";
              if (days) {
                  var date = new Date();
                  date.setTime(date.getTime() + (days*24*60*60*1000));
                  expires = "; expires=" + date.toUTCString();
              }
              document.cookie = name + "=" + JSON.stringify(value)  + expires + "; path=/";
            }

            $('#delete-cookies').on('click', (event) => {
              var cookies = document.cookie.split(";");
              for (var i = 0; i < cookies.length; i++) {
                setCookie(cookies[i].split("=")[0],"",-1);
              }
             });
          </script>
        </div>
      </div>
    </div>
    {% endblock %}
  </div>

  {% block footer_debug %}
    {% if g.debug %}
      {% include 'snippets/debug.html' %}
    {% endif %}
  {% endblock %}
</footer>
<footer class="site-footer mt-1px flex-center pb-5px px-5">
  <img src="/images/copyright.svg" class="pb-0 pt-0 pr-1"/>
  <p class="m-0">{{ _('2019 - By the National Geographic Institute on behalf of the ITS steering commitee.') }}</p>
</footer>