{% block header_wrapper %} {% block header_account %}

<style>
        #overlay-cookies {
            position: fixed; /* Sit on top of the page content */
            width: 100%; /* Full width (cover the whole page) */
            height: 100%; /* Full height (cover the whole page) */
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0,0,0,0.8); /* Black background with opacity */
            z-index: 100; /* Specify a stack order in case you're using a different order for other elements */
            display: none; /* initially hidden only visible when no cookies are found in js */
            justify-content: center;
            align-items: center;
        }
        #overlay-cookies-content {
            display: flex;
            width: 50%;
            background: #DDD;
            border: 2px solid #666;
            padding: 16px;
        }
        div#wrapper-cookies-2>div:nth-child(n+2) {
            margin-top: 10px;
        }

        #wrapper-cookies-2 .category-item-nav label {
            margin-right: 10px;
            font-weight: normal;
        }

        #wrapper-cookies-2 .category-item-nav label:after {
            display: none;
        }

        .clickable {
            cursor: pointer;
        }
        .clickable:hover {
            text-decoration: underline;
        }
        .class, .category-item-nav:hover {
            background-color: #ccc;
        }
        .category-item-description {
            display: none;
            overflow: hidden;
        }
        .accept-all {
            font-size: 18px;
            background-color: #11406e;
            color: white;
            padding: 0 5px;
        }
        .w50 {
            font-size: 18px;
            width: 50%;
            float: left;
            margin-bottom:5px;
        }
        cookie-table tr {
            border: 1px gray solid;
        }
        cookie-table thead tr {
            background-color: #11406e;
            color: white;
        }
        cookie-table th {
            padding: 5px;
        }
        cookie-table td {
            padding: 5px;
        }
        cookie-table tbody td {
            vertical-align: top;
        }
    </style>
    <div id="overlay-cookies">
        <div id="overlay-cookies-content">
            <div id="wrapper-cookies-1" style="width: 100%">
                <h2 style="margin: 0 0 16px 0;">{{ _('Welcome') }}!</h2>
                <p>
                    {{
                        _('Transportdata.be uses cookies to improve your experience. These cookies are used to gather and analyse information about your visit. For the best experience of the website, choose “Accept all cookies”. If you prefer to specify which information you want to share with Transportdata.be, choose “Set preferences”. Transportdata.be saves your cookie preferences. You can change your cookie preferences by clicking “Manage cookies”. Want to know more? ')
                    }}
                    <a href="{{ h.url_for(pages/privacy-declaration) }}">{{
                        _('Consult our Privacy declaration.')
                    }}</a>
                </p>
                <div style="display: flex; align-items: center;">
                    <p id="accept" class="clickable accept-all" style="font-weight: bolder; margin: 0;">{{ _('Accept all cookies') }}</p>
                    <p><pre style="font-size: 16px; margin: 0; padding: 0;"> / </pre></p>
                    <p id="preferences" class="clickable" style="text-decoration: underline; margin: 0;">{{ _('Set preferences') }}</p>
                </div>
            </div>
            <div id="wrapper-cookies-2" style="width: 100%;">
                <div style="display: flex; justify-content: space-between;">
                    <h2 style="margin: 0 0 16px 0;">{{ _('Types of Cookies') }}</h2>
                    <p class="clickable accept-all" style="display: flex; align-items: center;">{{ _('Accept all cookies') }}</p>
                </div>
                <div style="display: flex; flex-direction: column;">
                    <div class="category-item category-item-nav">
                        <div class="w50">{{ _('Essential') }}</div>
                        <label for="necessary">{{ _('Always enabled') }}</label>
                        <input id="necessary" type="checkbox" checked disabled>
                    </div>
                    <div class="category-item category-item-description">

                        <p class="u-margin-bottom-xs">{{ _('Essential cookies are cookies that are required for the correct functioning of the website.') }}</p>
                        <cookie-table class="hydrated">
                            <table class="a-table a-table--primary u-margin-bottom-xs">
                                <thead>
                                  <tr><th>{{ _('Cookie') }}</th><th>{{ _('Type') }}</th><th>{{ _('Expiry') }}</th><th>{{ _('Purpose') }}</th></tr>
                                </thead>
                                <tbody>
                                  <tr><td>{{ _('ckan') }}</td><td>{{ _('Basic functionality') }}</td><td>{{ _('session') }}</td><td>{{ _('This cookie is used for the basic functionalities of the website.') }}</td></tr>
                                </tbody>
                            </table>
                        </cookie-table>
                    </div>
                </div>
                <div style="display: flex; flex-direction: column;">
                    <div class="category-item category-item-nav">
                        <div class="w50">{{ _('Functional') }}</div>
                        <label for="functional">{{ _('Disabled') }}</label>
                        <input id="functional" type="checkbox">
                    </div>
                    <div class="category-item-description">
                        <p class="u-margin-bottom-xs">{{ _("Functional cookies record information about the user's choices and preferences and may store language settings, for instance.") }}</p>
                        <cookie-table class="hydrated">
                            <table class="a-table a-table--primary u-margin-bottom-xs">
                                <thead>
                                    <tr><th>{{ _('Cookie') }}</th><th>{{ _('Type') }}</th><th>{{ _('Expiry') }}</th><th>{{ _('Purpose') }}</th></tr>
                                </thead>
                                <tbody>
                                    <tr><td>{{ _('transportdata_cookies') }}</td><td>{{ _('Proper functionality') }}</td><td>{{ _('10.000 days') }}</td><td>{{ _('This cookie is used to store user preferences.') }}</td></tr>
                                </tbody>
                            </table>
                        </cookie-table>
                    </div>
                </div>
                <div style="display: flex; flex-direction: column;">
                    <div class="category-item category-item-nav">
                        <div class="w50">{{ _('Analytical') }}</div>
                        <label for="analytical">{{ _('Disabled') }}</label>
                        <input id="analytical" type="checkbox">
                    </div>
                    <div class="category-item-description">
                        <p class="u-margin-bottom-xs">{{ _("These cookies collect information about the user's behaviour to measure the performance of the website and improve the user experience.") }}</p>
                        <cookie-table class="hydrated">
                            <table class="a-table a-table--primary u-margin-bottom-xs">
                                <thead>
                                    <tr><th>{{ _('Cookie') }}</th><th>{{ _('Type') }}</th><th>{{ _('Expiry') }}</th><th>{{ _('Purpose') }}</th></tr>
                                </thead>
                                <tbody>
                                    <tr><td>{{ _('_ga') }}</td><td>{{ _('Statistics, HTTP') }}</td><td>{{ _('2 years') }}</td><td>{{ _('Registers a unique ID that is used to generate statistical data on how the visitor uses the website.') }}</td></tr>
                                    <tr><td>{{ _('_gat') }}</td><td>{{ _('Statistics, HTTP') }}</td><td>{{ _('1 day') }}</td><td>{{ _('Used By Google Analytics to throttle request rate.') }}</td></tr>
                                    <tr><td>{{ _('_gid') }}</td><td>{{ _('Statistics, HTTP') }}</td><td>{{ _('1 day') }}</td><td>{{ _('Registers a unique ID that is used to generate statistical data on how the visitor uses the website.') }}</td></tr>
                                </tbody>
                            </table>
                        </cookie-table>
                    </div>
                </div>
                <div style="display: flex; flex-direction: column;">
                    <div class="category-item category-item-nav">
                        <div class="w50">{{ _('Marketing') }}</div>
                        <label for="marketing">{{ _('Disabled') }}</label>
                        <input id="marketing" type="checkbox">
                    </div>
                    <div class="category-item-description">
                        <p class="u-margin-bottom-xs">{{ _("Marketing cookies follow the user's browsing behaviour in order to compose customer profiles or user profiles. These profiles are commonly used to show relevant and personalised ads that match the user's interests. They are also used to measure the effectiveness of promotions and to conduct market analyses.") }}</p>
                        <cookie-table class="hydrated">
                            <table class="a-table a-table--primary u-margin-bottom-xs">
                                <thead>
                                    <tr><th>{{ _('Cookie') }}</th><th>{{ _('Type') }}</th><th>{{ _('Expiry') }}</th><th>{{ _('Purpose') }}</th></tr>
                                </thead>
                                <tbody>
                                    <tr><td>{{ _('r/collect') }}</td><td>{{ _('Marketing, Pixel') }}</td><td>{{ _('session') }}</td><td>{{ _("This cookie is used to send data to Google Analytics about the visitor's device and behavior. It tracks the visitor across devices and marketing channels.") }}</td></tr>
                                </tbody>
                            </table>
                        </cookie-table>
                    </div>
                </div>
                <div style="padding-top: 16px;">
                    <button id="accept-preferences">{{ _('Save preferences') }}</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        // change the label of the inboxes onclick
        const checkboxF = document.getElementById('functional');
        checkboxF.onclick = () => {
            if (checkBoxF.checked == true){
                checkBoxF.previousSibling.innerText = "Enabled";
            }
            else {
                checkBoxF.previousSibling.innerText = "Disabled";
            }
        };
        const checkboxA = document.getElementById('analytical');
        checkboxA.onclick = () => {
            if (checkBoxA.checked == true){
                checkBoxA.previousSibling.innerText = "Enabled";
            }
            else {
                checkBoxA.previousSibling.innerText = "Disabled";
            }
        };
        const checkboxM = document.getElementById('marketing');
        checkboxM.onclick = () => {
            if (checkBoxM.checked == true){
                checkBoxM.previousSibling.innerText = "Enabled";
            }
            else {
                checkBoxM.previousSibling.innerText = "Disabled";
            }
        };

        // cookie stuff

        var cookie = JSON.parse(getCookie('transportdata_cookies'));
        if (!cookie || !cookie.necessary) {
            $('#overlay-cookies').css('display', 'flex');
        }

        function setAllCookies(x) {
        if($('#functional').is(":checked")) {
                setCookie('transportdata_cookies', x, 365);
            }
            else {
                setCookie('transportdata_cookies', '', -1);
            }
            if($('#analytical').is(":checked")) {
                // set the google cookies
                window.dataLayer = window.dataLayer || [];
                function gtag(){dataLayer.push(arguments);}
                gtag('js', new Date());
                gtag('config', 'UA-153119613-1');

                window['ga-disable-UA-153119613-1'] = false;

            }
            else {
                // unset the google cookies
                /*setCookie('_ga', '', -1);
                setCookie('_gid', '', -1);
                setCookie('_gat_gtag_UA-153119613-1', '', -1);
                */
                let expires = "";
                let date = new Date();
                date.setTime(date.getTime() + (-1*24*60*60*1000));
                expires = "; expires=" + date.toUTCString();

                document.cookie = "_ga" + "=" + ""  + expires + "; path=/; domain=.ec2-63-33-90-161.eu-west-1.compute.amazonaws.com";
                document.cookie = "_gid" + "=" + ""  + expires + "; path=/; domain=.ec2-63-33-90-161.eu-west-1.compute.amazonaws.com";
                document.cookie = "_gat_gtag_UA-153119613-1" + "=" + ""  + expires + "; path=/; domain=.ec2-63-33-90-161.eu-west-1.compute.amazonaws.com";

                window['ga-disable-UA-153119613-1'] = true;

            }
            if($('#marketing').is(":checked")) {
                // set the r/collect
                // ToDo
            }
            else {
                // unset the r/collect
                setCookie('r/collect', '', -1);
            }
        }

        function setCookie(name,value,days) {
            var expires = "";
            if (days) {
                var date = new Date();
                date.setTime(date.getTime() + (days*24*60*60*1000));
                expires = "; expires=" + date.toUTCString();
            }
            document.cookie = name + "=" + JSON.stringify(value)  + expires + "; path=/";
        }

        function getCookie(name) {
            var nameEQ = name + "=";
            var ca = document.cookie.split(';');
            for(var i=0;i < ca.length;i++) {
                var c = ca[i];
                while (c.charAt(0)==' ') c = c.substring(1,c.length);
                if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
            }
            return null;
        }

        $('#wrapper-cookies-2').hide();
        $('#preferences').on('click', (event) => {
            $('#wrapper-cookies-1').hide();
        $('#wrapper-cookies-2').show();
        });

        $('.accept-all').on('click', (event) => {
            var x = {'necessary': true, 'functional': true, 'analytical': true, 'marketing': true};
            setAllCookies(x);
            $('#overlay-cookies').css('display', 'none');
        });

        $('#accept-preferences').on('click', (event) => {
            var x = {
                'necessary': $('#necessary').is(":checked"),
                'functional': $('#functional').is(":checked"),
                'analytical': $('#analytical').is(":checked"),
                'marketing': $('#marketing').is(":checked")
            };
            setAllCookies(x);
            $('#overlay-cookies').css('display', 'none');

        });
    </script>

    <script>
        const acc = document.getElementsByClassName("category-item-nav");
        for(let i = 0; i < acc.length; i++) {
            acc[i].addEventListener("click", function(){
                this.classList.toggle("active");
                const panel = this.nextElementSibling;
                if(panel.style.display === "block") {
                    panel.style.display = "none";
                }
                else {
                    panel.style.display = "block";
                }
            });
        }
    </script>

<header class="account-masthead">
  <div class="container">
    {% block header_account_container_content %} {% if c.userobj %}
    <div class="account avatar authed" data-module="me" data-me="{{ c.userobj.id }}">
      <ul class="list-unstyled">
        {% block header_account_logged %} {% if c.userobj.sysadmin %}
        <li>
          <a href="{{ h.url_for(controller='admin', action='index') }}" title="{{ _('Sysadmin settings') }}">
            <i class="fa fa-gavel" aria-hidden="true"></i>
            <span class="text">{{ _('Admin') }}</span>
          </a>
        </li>
        {% endif %}
        <li>
          <a href="{{ h.url_for('user.read', id=c.userobj.name) }}" class="image" title="{{ _('View profile') }}">
                  {{ h.gravatar((c.userobj.email_hash if c and c.userobj else ''), size=22) }}
                  <span class="username">{{ c.userobj.display_name }}</span>
                </a>
        </li>
        <li>
            {% block header_lang %}
                {% snippet "snippets/language_selector.html" %}
            {% endblock %}
        </li>
        {% set new_activities = h.new_activities() %}
        <li class="notifications {% if new_activities > 0 %}notifications-important{% endif %}">
          {% set notifications_tooltip = ngettext('Dashboard (%(num)d new item)', 'Dashboard (%(num)d new items)', new_activities)
          %}
          <a href="{{ h.url_for('dashboard.index') }}" title="{{ notifications_tooltip }}">
            <i class="fa fa-tachometer" aria-hidden="true"></i>
            <span class="text">{{ _('Dashboard') }}</span>
            <span class="badge">{{ new_activities }}</span>
          </a>
        </li>
        {% block header_account_settings_link %}
        <li>
          <a href="{{ h.url_for('user.edit', id=c.userobj.name) }}" title="{{ _('Edit settings') }}">
            <i class="fa fa-cog" aria-hidden="true"></i>
            <span class="text">{{ _('Settings') }}</span>
          </a>
        </li>
        {% endblock %} {% block header_account_log_out_link %}
        <li>
          <a href="{{ h.url_for('/user/_logout') }}" title="{{ _('Log out') }}">
            <i class="fa fa-sign-out" aria-hidden="true"></i>
            <span class="text">{{ _('Log out') }}</span>
          </a>
        </li>
        {% endblock %} {% endblock %}
      </ul>
    </div>
    {% else %}
    <nav class="account not-authed">
      <ul class="list-unstyled">
        {% block header_account_notlogged %}
        <li>
            {% block header_lang_notlogged %}
                {% snippet "snippets/language_selector.html" %}
            {% endblock %}
        </li>
        <li>{% link_for _('Log in'), named_route='user.login' %}</li>
        {% if h.check_access('user_create') %}
        <li>{% link_for _('Register'), named_route='user.register', class_='sub' %}</li>
        {% endif %} {% endblock %}
      </ul>
    </nav>
    {% endif %} {% endblock %}
  </div>
</header>
{% endblock %}
<header class="navbar navbar-static-top masthead header-menu">
  {% block header_debug %} {% if g.debug and not g.debug_supress_header %}
  <div class="debug">Controller : {{ c.controller }}<br/>Action : {{ c.action }}</div>
  {% endif %} {% endblock %}
  <div id="header-container" class="container">
      <hgroup id="header-logo">
          <a href="{{ h.url_for('home.index') }}"><h1 class="logo">TRANSPORTDATA<span>.BE</span></h1></a>
        </hgroup>
      <div id="header-content">
          <div>
              <button data-target="#main-navigation-toggle" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
                  <span class="fa fa-bars"></span>
              </button>
          </div>
          <div class="collapse navbar-collapse align-middle" id="main-navigation-toggle">
              {% block header_site_navigation %}
              <nav id="nav-menu-items" class="section navigation">
                  <ul class="nav">
                      {% block header_site_navigation_tabs %} {{ h.build_nav_main( ('search', _('Datasets')), ('organizations_index', _('Organizations')),
                      ('group_index', _('Groups')), ('home.about', _('About')) ) }} {% endblock %}
                   </ul>
              </nav>
              {% endblock %}{% block header_site_search %}
              <form id="header-search" class="section site-search simple-input" action="{% url_for controller='package', action='search' %}" method="get">
                  <div class="field">
                      <input id="field-sitewide-search" type="text" class="form-control" name="q" placeholder="{{ _('Search') }}" />
                      <button class="btn-search" type="submit"><i class="fa fa-search"></i></button>
                  </div>
              </form>
              {% endblock %}
          </div>
      </div>
  </div>
</header>
{% endblock %}