{% ckan_extends %}

{% set dataset_type = h.default_package_type() %}

{% block header_account %}
    <div id="overlay-cookies" data-module="cookies" 
         data-module-google-tag-id="{{ h.benap_get_config('ckan.google.tag_id') }}"
         data-module-cookie-domain="{{ h.benap_get_config('ckan.cookie_domain') }}">
        <div id="overlay-cookies-content">
            <div id="wrapper-cookies-1" style="width: 100%">
                <h2 style="margin: 0 0 16px 0;">{{ _('Welcome') }}!</h2>
                <p>
                    {{
                        _('Transportdata.be uses cookies to improve your experience. These cookies are used to gather and analyse information about your visit. For the best experience of the website, choose “Accept all cookies”. If you prefer to specify which information you want to share with Transportdata.be, choose “Set preferences”. Transportdata.be saves your cookie preferences. You can change your cookie preferences by clicking “Manage cookies”. Want to know more? ')
                    }}
                    <a href="{{ h.url_for('pages_show', page='privacy-declaration') }}">{{
                        _('Consult our Privacy declaration.')
                    }}</a>
                </p>
                <div style="display: flex; align-items: center;">
                    <p id="accept" class="clickable accept-all" style="font-weight: bolder; margin: 0;">{{ _('Accept all cookies') }}</p>
                    <p><pre style="font-size: 16px; margin: 0; padding: 0;"> / </pre></p>
                    <p id="preferences" class="clickable" style="text-decoration: underline; margin: 0;">{{ _('Set preferences') }}</p>
                </div>
            </div>
            <div id="wrapper-cookies-2" style="width: 100%;">
                <div style="display: flex; justify-content: space-between;">
                    <h2 style="margin: 0 0 16px 0;">{{ _('Types of Cookies') }}</h2>
                    <p class="clickable accept-all" style="display: flex; align-items: center;">{{ _('Accept all cookies') }}</p>
                </div>
                <div style="display: flex; flex-direction: column;">
                    <div class="category-item category-item-nav">
                        <div class="w50">{{ _('Essential') }}</div>
                        <label for="necessary">{{ _('Always enabled') }}</label>
                        <input id="necessary" type="checkbox" checked disabled>
                    </div>
                    <div class="category-item category-item-description">

                        <p class="u-margin-bottom-xs">{{ _('Essential cookies are cookies that are required for the correct functioning of the website.') }}</p>
                        <cookie-table class="hydrated">
                            <table class="a-table a-table--primary u-margin-bottom-xs">
                                <thead>
                                  <tr><th>{{ _('Cookie') }}</th><th>{{ _('Type') }}</th><th>{{ _('Expiry') }}</th><th>{{ _('Purpose') }}</th></tr>
                                </thead>
                                <tbody>
                                  <tr><td>{{ _('ckan') }}</td><td>{{ _('Basic functionality') }}</td><td>{{ _('session') }}</td><td>{{ _('This cookie is used for the basic functionalities of the website.') }}</td></tr>
                                  <tr><td>{{ _('transportdata_cookies') }}</td><td>{{ _('Basic functionality') }}</td><td>{{ _('session') }}</td><td>{{ _('This cookie is used for the basic functionalities of the website.') }}</td></tr>
                                </tbody>
                            </table>
                        </cookie-table>
                    </div>
                </div>
                <div style="display: flex; flex-direction: column;">
                    <div class="category-item category-item-nav">
                        <div class="w50">{{ _('Functional') }}</div>
                        <label for="functional">{{ _('Disabled') }}</label>
                        <input id="functional" type="checkbox">
                    </div>
                    <div class="category-item-description">
                        <p class="u-margin-bottom-xs">{{ _("Functional cookies record information about the user's choices and preferences and may store language settings, for instance.") }}</p>
                        <cookie-table class="hydrated">
                            <table class="a-table a-table--primary u-margin-bottom-xs">
                                <thead>
                                    <tr><th>{{ _('Cookie') }}</th><th>{{ _('Type') }}</th><th>{{ _('Expiry') }}</th><th>{{ _('Purpose') }}</th></tr>
                                </thead>
                                <tbody>
                                    <tr><td>{{ _('transportdata_cookies') }}</td><td>{{ _('Proper functionality') }}</td><td>{{ _('1 year') }}</td><td>{{ _('This cookie is used to store user preferences.') }}</td></tr>
                                </tbody>
                            </table>
                        </cookie-table>
                    </div>
                </div>
                <div style="display: flex; flex-direction: column;">
                    <div class="category-item category-item-nav">
                        <div class="w50">{{ _('Analytical') }}</div>
                        <label for="analytical">{{ _('Disabled') }}</label>
                        <input id="analytical" type="checkbox">
                    </div>
                    <div class="category-item-description">
                        <p class="u-margin-bottom-xs">{{ _("These cookies collect information about the user's behaviour to measure the performance of the website and improve the user experience.") }}</p>
                        <cookie-table class="hydrated">
                            <table class="a-table a-table--primary u-margin-bottom-xs">
                                <thead>
                                    <tr><th>{{ _('Cookie') }}</th><th>{{ _('Type') }}</th><th>{{ _('Expiry') }}</th><th>{{ _('Purpose') }}</th></tr>
                                </thead>
                                <tbody>
                                    <tr><td>{{ _('_ga') }}</td><td>{{ _('Statistics, HTTP') }}</td><td>{{ _('2 years') }}</td><td>{{ _('Registers a unique ID that is used to generate statistical data on how the visitor uses the website.') }}</td></tr>
                                    <tr><td>{{ _('_gat') }}</td><td>{{ _('Statistics, HTTP') }}</td><td>{{ _('1 day') }}</td><td>{{ _('Used By Google Analytics to throttle request rate.') }}</td></tr>
                                    <tr><td>{{ _('_gid') }}</td><td>{{ _('Statistics, HTTP') }}</td><td>{{ _('1 day') }}</td><td>{{ _('Registers a unique ID that is used to generate statistical data on how the visitor uses the website.') }}</td></tr>
                                </tbody>
                            </table>
                        </cookie-table>
                    </div>
                </div>
                <div style="display: flex; flex-direction: column;">
                    <div class="category-item category-item-nav">
                        <div class="w50">{{ _('Marketing') }}</div>
                        <label for="marketing">{{ _('Disabled') }}</label>
                        <input id="marketing" type="checkbox">
                    </div>
                    <div class="category-item-description">
                        <p class="u-margin-bottom-xs">{{ _("Marketing cookies follow the user's browsing behaviour in order to compose customer profiles or user profiles. These profiles are commonly used to show relevant and personalised ads that match the user's interests. They are also used to measure the effectiveness of promotions and to conduct market analyses.") }}</p>
                        <cookie-table class="hydrated">
                            <table class="a-table a-table--primary u-margin-bottom-xs">
                                <thead>
                                    <tr><th>{{ _('Cookie') }}</th><th>{{ _('Type') }}</th><th>{{ _('Expiry') }}</th><th>{{ _('Purpose') }}</th></tr>
                                </thead>
                                <tbody>
                                    <tr><td>{{ _('r/collect') }}</td><td>{{ _('Marketing, Pixel') }}</td><td>{{ _('session') }}</td><td>{{ _("This cookie is used to send data to Google Analytics about the visitor's device and behavior. It tracks the visitor across devices and marketing channels.") }}</td></tr>
                                </tbody>
                            </table>
                        </cookie-table>
                    </div>
                </div>
                <div style="padding-top: 16px;">
                    <button id="accept-preferences">{{ _('Save preferences') }}</button>
                </div>
            </div>
        </div>
    </div>

    
    {{super()}}
{% endblock %}

{% block header_account_logged %}
    <li>
        {% snippet "snippets/language_selector.html" %}
    </li>
    {{ super() }}
{% endblock %}

{% block header_account_notlogged %}
    <li>
        {% snippet "snippets/language_selector.html" %}
    </li>
    {{ super() }}
{% endblock %}

{% block header_logo %}
    <hgroup id="header-logo">
    <a href="{{ h.url_for('home.index') }}">
        <h1 class="logo">TRANSPORTDATA<span>.BE</span></h1>
    </a>
    </hgroup>
{% endblock %}