{% block header_wrapper %} {% block header_account %}

<style>
        #overlay-cookies {
            position: fixed; /* Sit on top of the page content */
            width: 100%; /* Full width (cover the whole page) */
            height: 100%; /* Full height (cover the whole page) */
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0,0,0,0.8); /* Black background with opacity */
            z-index: 100; /* Specify a stack order in case you're using a different order for other elements */
            display: none; /* initially hidden only visible when no cookies are found in js */
            justify-content: center;
            align-items: center;
        }
        #overlay-cookies-content {
            display: flex;
            width: 50%;
            background: #DDD;
            border: 2px solid #666;
            padding: 16px;
        }
        .clickable {
            cursor: pointer;
        }
        .clickable:hover {
            text-decoration: underline;
        }
        .w50 {
            width: 50%;
        }
    </style>
    <div id="overlay-cookies">
        <div id="overlay-cookies-content">
            <div id="wrapper-cookies-1" style="width: 100%">
                <h2 style="margin: 0 0 16px 0;">{{ _('Welcome') }}!</h2>
                <p>
                    {{
                        _('Transportdata.be uses cookies to improve your experience. These cookies are used to gather and analyse information about your visit. For the best experience of the website, choose “Allow all cookies”. If you prefer to specify which information you want to share with Transportdata.be, choose “Set preferences”. Transportdata.be saves your cookie preferences. You can change your cookie preferences by clicking “Manage cookies”.')
                    }}
                </p>
                <div style="display: flex; align-items: center;">
                    <p id="accept" class="clickable accept-all" style="font-weight: bolder; margin: 0;">{{ _('Accept all cookies') }}</p>
                    <p><pre style="font-size: 16px; margin: 0; padding: 0;"> / </pre></p>
                    <p id="preferences" class="clickable" style="text-decoration: underline; margin: 0;">{{ _('Set preferences') }}</p>
                </div>
            </div>
            <div id="wrapper-cookies-2" style="width: 100%;">
                <div style="display: flex; justify-content: space-between;">
                    <h2>{{ _('Types of Cookies') }}</h2>
                    <p class="clickable accept-all" style="display: flex; align-items: center;">{{ _('Accept all cookies') }}</p>
                </div>
                <div style="display: flex;">
                    <div class="w50">{{ _('Necessary') }}</div>
                    <input id="necessary" type="checkbox" checked disabled>
                </div>
                <div style="display: flex;">
                    <div class="w50">{{ _('Functional') }}</div>
                    <input id="functional" type="checkbox" checked>
                </div>
                <div style="display: flex;">
                    <div class="w50">{{ _('Analytical') }}</div>
                    <input id="analytical" type="checkbox" checked>
                </div>
                <div style="padding-top: 16px;">
                    <button id="accept-preferences">{{ _('Save preferences') }}</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        var cookie = JSON.parse(getCookie('transportdata_cookies'));
        if (!cookie || !cookie.necessary) {
            $('#overlay-cookies').css('display', 'flex');
        }

        function setCookie(name,value,days) {
            var expires = "";
            if (days) {
                var date = new Date();
                date.setTime(date.getTime() + (days*24*60*60*1000));
                expires = "; expires=" + date.toUTCString();
            }
            document.cookie = name + "=" + JSON.stringify(value)  + expires + "; path=/";
        }

        function getCookie(name) {
            var nameEQ = name + "=";
            var ca = document.cookie.split(';');
            for(var i=0;i < ca.length;i++) {
                var c = ca[i];
                while (c.charAt(0)==' ') c = c.substring(1,c.length);
                if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
            }
            return null;
        }

        $('#wrapper-cookies-2').hide();
        $('#preferences').on('click', (event) => {
            $('#wrapper-cookies-1').hide();
        $('#wrapper-cookies-2').show();
        });

        $('.accept-all').on('click', (event) => {
            var x = {'necessary': true, 'functional': true, 'analytical': true};
        setCookie('transportdata_cookies', x, 10000);
        $('#overlay-cookies').css('display', 'none');
        });

        $('#accept-preferences').on('click', (event) => {
            var x = {
                'necessary': $('#necessary').is(":checked"),
                'functional': $('#functional').is(":checked"),
                'analytical': $('#analytical').is(":checked")
            };
        setCookie('transportdata_cookies', x, 10000);
        $('#overlay-cookies').css('display', 'none');

        });
    </script>

<header class="account-masthead">
  <div class="container">
    {% block header_account_container_content %} {% if c.userobj %}
    <div class="account avatar authed" data-module="me" data-me="{{ c.userobj.id }}">
      <ul class="list-unstyled">
        {% block header_account_logged %} {% if c.userobj.sysadmin %}
        <li>
          <a href="{{ h.url_for(controller='admin', action='index') }}" title="{{ _('Sysadmin settings') }}">
            <i class="fa fa-gavel" aria-hidden="true"></i>
            <span class="text">{{ _('Admin') }}</span>
          </a>
        </li>
        {% endif %}
        <li>
          <a href="{{ h.url_for('user.read', id=c.userobj.name) }}" class="image" title="{{ _('View profile') }}">
                  {{ h.gravatar((c.userobj.email_hash if c and c.userobj else ''), size=22) }}
                  <span class="username">{{ c.userobj.display_name }}</span>
                </a>
        </li>
        <li>
            {% block header_lang %}
                {% snippet "snippets/language_selector.html" %}
            {% endblock %}
        </li>
        {% set new_activities = h.new_activities() %}
        <li class="notifications {% if new_activities > 0 %}notifications-important{% endif %}">
          {% set notifications_tooltip = ngettext('Dashboard (%(num)d new item)', 'Dashboard (%(num)d new items)', new_activities)
          %}
          <a href="{{ h.url_for('dashboard.index') }}" title="{{ notifications_tooltip }}">
            <i class="fa fa-tachometer" aria-hidden="true"></i>
            <span class="text">{{ _('Dashboard') }}</span>
            <span class="badge">{{ new_activities }}</span>
          </a>
        </li>
        {% block header_account_settings_link %}
        <li>
          <a href="{{ h.url_for('user.edit', id=c.userobj.name) }}" title="{{ _('Edit settings') }}">
            <i class="fa fa-cog" aria-hidden="true"></i>
            <span class="text">{{ _('Settings') }}</span>
          </a>
        </li>
        {% endblock %} {% block header_account_log_out_link %}
        <li>
          <a href="{{ h.url_for('/user/_logout') }}" title="{{ _('Log out') }}">
            <i class="fa fa-sign-out" aria-hidden="true"></i>
            <span class="text">{{ _('Log out') }}</span>
          </a>
        </li>
        {% endblock %} {% endblock %}
      </ul>
    </div>
    {% else %}
    <nav class="account not-authed">
      <ul class="list-unstyled">
        {% block header_account_notlogged %}
        <li>
            {% block header_lang_notlogged %}
                {% snippet "snippets/language_selector.html" %}
            {% endblock %}
        </li>
        <li>{% link_for _('Log in'), named_route='user.login' %}</li>
        {% if h.check_access('user_create') %}
        <li>{% link_for _('Register'), named_route='user.register', class_='sub' %}</li>
        {% endif %} {% endblock %}
      </ul>
    </nav>
    {% endif %} {% endblock %}
  </div>
</header>
{% endblock %}
<header class="navbar navbar-static-top masthead header-menu">
  {% block header_debug %} {% if g.debug and not g.debug_supress_header %}
  <div class="debug">Controller : {{ c.controller }}<br/>Action : {{ c.action }}</div>
  {% endif %} {% endblock %}
  <div id="header-container" class="container">
      <hgroup id="header-logo">
          <a href="{{ h.url_for('home.index') }}"><h1 class="logo">TRANSPORTDATA<span>.BE</span></h1></a>
        </hgroup>
      <div id="header-content">
          <div>
              <button data-target="#main-navigation-toggle" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
                  <span class="fa fa-bars"></span>
              </button>
          </div>
          <div class="collapse navbar-collapse align-middle" id="main-navigation-toggle">
              {% block header_site_navigation %}
              <nav id="nav-menu-items" class="section navigation">
                  <ul class="nav">
                      {% block header_site_navigation_tabs %} {{ h.build_nav_main( ('search', _('Datasets')), ('organizations_index', _('Organizations')),
                      ('group_index', _('Groups')), ('home.about', _('About')) ) }} {% endblock %}
                   </ul>
              </nav>
              {% endblock %}{% block header_site_search %}
              <form id="header-search" class="section site-search simple-input" action="{% url_for controller='package', action='search' %}" method="get">
                  <div class="field">
                      <input id="field-sitewide-search" type="text" class="form-control" name="q" placeholder="{{ _('Search') }}" />
                      <button class="btn-search" type="submit"><i class="fa fa-search"></i></button>
                  </div>
              </form>
              {% endblock %}
          </div>
      </div>
  </div>
</header>
{% endblock %}