/* General */
.hide-control {
  display: none;
}

/* Styling for the accordion-style categories and tags */
.category-header {
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: space-between;
}

.category-checkbox {
  margin-right: 8px;
}

.category-name {
  font-weight: bold;
}

.tag-container {
  padding-left: 20px;
  margin-top: 5px; /* Reduced margin between category and tags */
  display: none; /* Initially hidden */
}

.tag-container input[type="checkbox"] {
  margin-right: 5px;
  margin-bottom: 2px; /* Reduced margin between tags */
}

/* fieldset Checkboxes */
fieldset.checkboxes label {
  font-weight: normal;
  display: block;
}
fieldset.checkboxes label:after {
  content: none;
}
fieldset.checkboxes label input {
  width: auto;
  top: 0;
}
.no-bottom-margin {
  margin-bottom: 4px;
}

/* fieldset Radio buttons */
fieldset.radios label {
  font-weight: normal;
  display: block;
}
fieldset.radios label:after {
  content: none;
}
fieldset.radios label input {
  width: auto;
  top: 0;
}

/* contact_point_with_autocomplete.html specific css */

#autocomplete-contact_point_name {
  position: relative;
}

.autocomplete-contact_point_name-option {
  position: absolute;
  left: 0px;
  z-index: 1;
  width: 100%;
  background: white;
  cursor: pointer;
  height: 34px;
  padding: 6px 12px;
}

.autocomplete-contact_point_name-option-active, .autocomplete-contact_point_name-option:hover {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,0.6);
}